// Colors
//============

$primaryColor : #6CCED9;
$secondaryColor : #464E5F;
$background: linear-gradient(180deg, #F8F8F8 42.26%, #ECECEC 100%);
$sidebarwidth: 288px;
$authsidebarwidth: 384px;
$white : white;
// Images
// ===========
