@import '../../styles/variables';
.logo-section{
    background: $background;
    height: 100%;
    position: fixed;
    width: $authsidebarwidth;
        &::after{
            content: '';
            background-image: url('../../assets/images/login-after.svg');
            position: absolute;
            right: 0;
            height: 450px;
            width: 100%;
            bottom: 0;
            z-index: 1;
            background-repeat: no-repeat;
        }
}